@using Domain.Entiteis
@model Category
<div class="container px-5 my-5">

    <form>
        <!-- نام دسته بندی -->
        <div class="form-floating mb-3">
            <input disabled class="form-control" id="categoryName" dir="rtl" name="name" value="@Model.Name" type="text" required />
            <label for="productName">نام دسته بندی</label>
        </div>
    </form>
</div>
